<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Dashboard</title>
    <link rel="stylesheet" href="/customerDashCSS/customerDashCSS.css">
    <link rel="icon" type="image/x-icon" href="/favicon.png">
</head>

<body>
    <nav id="sidebar">
        <ul>
            <li>
                <span class="logo"><img src="/Fin_AllianceLogo.png" alt="logo" height="50px" width="100%"></span>
                <button onclick=toggleSidebar() id="toggle-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                        fill="#e8eaed">
                        <path
                            d="m313-480 155 156q11 11 11.5 27.5T468-268q-11 11-28 11t-28-11L228-452q-6-6-8.5-13t-2.5-15q0-8 2.5-15t8.5-13l184-184q11-11 27.5-11.5T468-692q11 11 11 28t-11 28L313-480Zm264 0 155 156q11 11 11.5 27.5T732-268q-11 11-28 11t-28-11L492-452q-6-6-8.5-13t-2.5-15q0-8 2.5-15t8.5-13l184-184q11-11 27.5-11.5T732-692q11 11 11 28t-11 28L577-480Z" />
                    </svg>
                </button>
            </li>
            <li class="active">
                <a href="/manager/<%= managerdata._id %>/dashboard/customer/<%= customerdata._id %>">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                        fill="#e8eaed">
                        <path
                            d="M520-640v-160q0-17 11.5-28.5T560-840h240q17 0 28.5 11.5T840-800v160q0 17-11.5 28.5T800-600H560q-17 0-28.5-11.5T520-640ZM120-480v-320q0-17 11.5-28.5T160-840h240q17 0 28.5 11.5T440-800v320q0 17-11.5 28.5T400-440H160q-17 0-28.5-11.5T120-480Zm400 320v-320q0-17 11.5-28.5T560-520h240q17 0 28.5 11.5T840-480v320q0 17-11.5 28.5T800-120H560q-17 0-28.5-11.5T520-160Zm-400 0v-160q0-17 11.5-28.5T160-360h240q17 0 28.5 11.5T440-320v160q0 17-11.5 28.5T400-120H160q-17 0-28.5-11.5T120-160Zm80-360h160v-240H200v240Zm400 320h160v-240H600v240Zm0-480h160v-80H600v80ZM200-200h160v-80H200v80Zm160-320Zm240-160Zm0 240ZM360-280Z" />
                    </svg>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/manager/<%= managerdata._id %>/dashboard/customer/<%= customerdata._id %>/loans">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 512 512" width="24px"
                        fill="#e8eaed">
                        <path
                            d="M240.1 4.2c9.8-5.6 21.9-5.6 31.8 0l171.8 98.1L448 104l0 .9 47.9 27.4c12.6 7.2 18.8 22 15.1 36s-16.4 23.8-30.9 23.8L32 192c-14.5 0-27.2-9.8-30.9-23.8s2.5-28.8 15.1-36L64 104.9l0-.9 4.4-1.6L240.1 4.2zM64 224l64 0 0 192 40 0 0-192 64 0 0 192 48 0 0-192 64 0 0 192 40 0 0-192 64 0 0 196.3c.6 .3 1.2 .7 1.8 1.1l48 32c11.7 7.8 17 22.4 12.9 35.9S494.1 512 480 512L32 512c-14.1 0-26.5-9.2-30.6-22.7s1.1-28.1 12.9-35.9l48-32c.6-.4 1.2-.7 1.8-1.1L64 224z" />
                    </svg>
                    <span>Loan Details</span>
                </a>
            </li>
            <li>
                <a href="/manager/<%= managerdata._id %>/dashboard/customer/<%= customerdata._id %>/transactions">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 512 512" width="24px"
                        fill="#e8eaed">
                        <path
                            d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM151.2 217.4c-4.6 4.2-7.2 10.1-7.2 16.4c0 12.3 10 22.3 22.3 22.3l41.7 0 0 96c0 17.7 14.3 32 32 32l32 0c17.7 0 32-14.3 32-32l0-96 41.7 0c12.3 0 22.3-10 22.3-22.3c0-6.2-2.6-12.1-7.2-16.4l-91-84c-3.8-3.5-8.7-5.4-13.9-5.4s-10.1 1.9-13.9 5.4l-91 84z" />
                    </svg>
                    <span>Top Transactions</span>
                </a>
            </li>
            <li>
                <a href="/manager/<%= managerdata._id %>/dashboard/customer/<%= customerdata._id %>/accounts">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 512 512" width="24px"
                        fill="#e8eaed">
                        <path
                            d="M256 0l64 0c17.7 0 32 14.3 32 32l0 64c0 17.7-14.3 32-32 32l-64 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32zM64 64l128 0 0 48c0 26.5 21.5 48 48 48l96 0c26.5 0 48-21.5 48-48l0-48 128 0c35.3 0 64 28.7 64 64l0 320c0 35.3-28.7 64-64 64L64 512c-35.3 0-64-28.7-64-64L0 128C0 92.7 28.7 64 64 64zM176 437.3c0 5.9 4.8 10.7 10.7 10.7l202.7 0c5.9 0 10.7-4.8 10.7-10.7c0-29.5-23.9-53.3-53.3-53.3l-117.3 0c-29.5 0-53.3 23.9-53.3 53.3zM288 352a64 64 0 1 0 0-128 64 64 0 1 0 0 128z" />
                    </svg>
                    <span>Accounts</span>
                </a>
            </li>
            <li>
                <a onclick="window.print()" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 512 512" width="24px"
                        fill="#e8eaed">
                        <path
                            d="M128 0C92.7 0 64 28.7 64 64l0 96 64 0 0-96 226.7 0L384 93.3l0 66.7 64 0 0-66.7c0-17-6.7-33.3-18.7-45.3L400 18.7C388 6.7 371.7 0 354.7 0L128 0zM384 352l0 32 0 64-256 0 0-64 0-16 0-16 256 0zm64 32l32 0c17.7 0 32-14.3 32-32l0-96c0-35.3-28.7-64-64-64L64 192c-35.3 0-64 28.7-64 64l0 96c0 17.7 14.3 32 32 32l32 0 0 64c0 35.3 28.7 64 64 64l256 0c35.3 0 64-28.7 64-64l0-64zM432 248a24 24 0 1 1 0 48 24 24 0 1 1 0-48z" />
                    </svg>
                    <span>Print</span>
                </a>
            </li>
            <li>
                <a href="/">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 512 512" width="24px"
                        fill="#e8eaed">
                        <path
                            d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 192 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l210.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128zM160 96c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 32C43 32 0 75 0 128L0 384c0 53 43 96 96 96l64 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l64 0z" />
                    </svg>
                    <span>LogOut!</span>
                </a>
            </li>
        </ul>
    </nav>
    <main>
        <div class="container">
            <h1 style="text-align: center;">Dashboard
            </h1><span style="display: flex; justify-content: space-between;">
                <p>Checking Manager: <%= managerdata.name %> | <%= managerdata.employeeId %>
                </p>
                <p>Current time: <%= new Date().toLocaleString() %>
                </p>
            </span>
            <div id="dash-info-div">
                <span style="display: flex; justify-content: space-between; width: 65%;">
                    <p>
                        <b>Name:</b>
                        <%= customerdata.name %> <br>
                            <b>Customer ID:</b>
                            <%= customerdata.customerId %> <br>
                                <b>Age:</b>
                                <%= customerdata.age %> <br>
                                    <b>Email:</b>
                                    <%= customerdata.email %> <br>
                                        <b>Currency:</b> INR <br>
                                        <b>PAN Number:</b>
                                        <%= customerdata.pannumber %>
                    </p>
                    <p>
                        <b>Accounts Type: </b>
                        <%= customerdata.accounttype %><br>
                            <b>Aadhar Number:</b>
                            <%= customerdata.aadharnumber %> <br>
                                <b>Status:</b> <b style="color: rgb(53, 173, 53);">Active</b>

                    </p>
                </span>
                <img src=<%= customerdata.customerphoto %> alt="Customer Photo" height="170px">

            </div>
            <section>
                <div id="dash-credit-div">
                    <div class="cube"><span style="display: flex;"><svg xmlns="http://www.w3.org/2000/svg" height="24px"
                                viewBox="0 0 512 512" width="24px" fill="#e8eaed">
                                <path
                                    d="M579.8 267.7c56.5-56.5 56.5-148 0-204.5c-50-50-128.8-56.5-186.3-15.4l-1.6 1.1c-14.4 10.3-17.7 30.3-7.4 44.6s30.3 17.7 44.6 7.4l1.6-1.1c32.1-22.9 76-19.3 103.8 8.6c31.5 31.5 31.5 82.5 0 114L422.3 334.8c-31.5 31.5-82.5 31.5-114 0c-27.9-27.9-31.5-71.8-8.6-103.8l1.1-1.6c10.3-14.4 6.9-34.4-7.4-44.6s-34.4-6.9-44.6 7.4l-1.1 1.6C206.5 251.2 213 330 263 380c56.5 56.5 148 56.5 204.5 0L579.8 267.7zM60.2 244.3c-56.5 56.5-56.5 148 0 204.5c50 50 128.8 56.5 186.3 15.4l1.6-1.1c14.4-10.3 17.7-30.3 7.4-44.6s-30.3-17.7-44.6-7.4l-1.6 1.1c-32.1 22.9-76 19.3-103.8-8.6C74 372 74 321 105.5 289.5L217.7 177.2c31.5-31.5 82.5-31.5 114 0c27.9 27.9 31.5 71.8 8.6 103.9l-1.1 1.6c-10.3 14.4-6.9 34.4 7.4 44.6s34.4 6.9 44.6-7.4l1.1-1.6C433.5 260.8 427 182 377 132c-56.5-56.5-148-56.5-204.5 0L60.2 244.3z" />
                            </svg>&nbsp;
                            <h3>&nbsp;&nbsp;&nbsp;Linked Services</h3>
                        </span>
                        <p>Status: <br><b
                                style="text-align: center; font-size:x-large; display: flex; justify-content: center; color: #35ad35;">
                                <%= customerdata.linkedservices %>
                            </b></p>

                    </div>
                    <div class="cube"><span style="display: flex;"><svg xmlns="http://www.w3.org/2000/svg" height="24px"
                                viewBox="0 0 512 512" width="24px" fill="#e8eaed">
                                <path
                                    d="M243.4 2.6l-224 96c-14 6-21.8 21-18.7 35.8S16.8 160 32 160l0 8c0 13.3 10.7 24 24 24l400 0c13.3 0 24-10.7 24-24l0-8c15.2 0 28.3-10.7 31.3-25.6s-4.8-29.9-18.7-35.8l-224-96c-8-3.4-17.2-3.4-25.2 0zM128 224l-64 0 0 196.3c-.6 .3-1.2 .7-1.8 1.1l-48 32c-11.7 7.8-17 22.4-12.9 35.9S17.9 512 32 512l448 0c14.1 0 26.5-9.2 30.6-22.7s-1.1-28.1-12.9-35.9l-48-32c-.6-.4-1.2-.7-1.8-1.1L448 224l-64 0 0 192-40 0 0-192-64 0 0 192-48 0 0-192-64 0 0 192-40 0 0-192zM256 64a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" />
                            </svg>
                            <h3>&nbsp;&nbsp;&nbsp;&nbsp;Accounts</h3>
                        </span>
                        <p>Total: <br><b
                                style="text-align: center; font-size:x-large; display: flex; justify-content: center; color: #35ad35;">
                                <% if (customerdata.noofbank> 0) { %> <%= customerdata.noofbank %> Active <% } else { %>
                                            <b style="color: red;">
                                                <%= customerdata.noofbank %> Active
                                            </b>
                                            <% }; %>
                            </b></p>

                    </div>
                    <div class="cube"><span style="display: flex;"><svg xmlns="http://www.w3.org/2000/svg" height="24px"
                                viewBox="0 0 512 512" width="24px" fill="#e8eaed">
                                <path
                                    d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM169.8 165.3c7.9-22.3 29.1-37.3 52.8-37.3l58.3 0c34.9 0 63.1 28.3 63.1 63.1c0 22.6-12.1 43.5-31.7 54.8L280 264.4c-.2 13-10.9 23.6-24 23.6c-13.3 0-24-10.7-24-24l0-13.5c0-8.6 4.6-16.5 12.1-20.8l44.3-25.4c4.7-2.7 7.6-7.7 7.6-13.1c0-8.4-6.8-15.1-15.1-15.1l-58.3 0c-3.4 0-6.4 2.1-7.5 5.3l-.4 1.2c-4.4 12.5-18.2 19-30.6 14.6s-19-18.2-14.6-30.6l.4-1.2zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z" />
                            </svg>
                            <h3>&nbsp;&nbsp;&nbsp;&nbsp;Enquiries</h3>
                        </span>
                        <p>Total: <br><b
                                style="text-align: center; font-size:x-large; display: flex; justify-content: center; color: white;">
                                <%= customerdata.enquiries %>
                            </b></p>

                    </div>
                    <div class="cube"><span style="display: flex;"><svg xmlns="http://www.w3.org/2000/svg" height="24px"
                                viewBox="0 0 512 512" width="24px" fill="#e8eaed">
                                <path
                                    d="M535 41c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l64 64c4.5 4.5 7 10.6 7 17s-2.5 12.5-7 17l-64 64c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l23-23L384 112c-13.3 0-24-10.7-24-24s10.7-24 24-24l174.1 0L535 41zM105 377l-23 23L256 400c13.3 0 24 10.7 24 24s-10.7 24-24 24L81.9 448l23 23c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0L7 441c-4.5-4.5-7-10.6-7-17s2.5-12.5 7-17l64-64c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9zM96 64l241.9 0c-3.7 7.2-5.9 15.3-5.9 24c0 28.7 23.3 52 52 52l117.4 0c-4 17 .6 35.5 13.8 48.8c20.3 20.3 53.2 20.3 73.5 0L608 169.5 608 384c0 35.3-28.7 64-64 64l-241.9 0c3.7-7.2 5.9-15.3 5.9-24c0-28.7-23.3-52-52-52l-117.4 0c4-17-.6-35.5-13.8-48.8c-20.3-20.3-53.2-20.3-73.5 0L32 342.5 32 128c0-35.3 28.7-64 64-64zm64 64l-64 0 0 64c35.3 0 64-28.7 64-64zM544 320c-35.3 0-64 28.7-64 64l64 0 0-64zM320 352a96 96 0 1 0 0-192 96 96 0 1 0 0 192z" />
                            </svg>
                            <h3>&nbsp;&nbsp;&nbsp;&nbsp;TPM</h3>
                        </span>
                        <p>Total: <br><b
                                style="text-align: center; font-size:x-large; display: flex; justify-content: center; color: white;">
                                <%= customerdata.tpm %>
                            </b></p>

                    </div>
                </div>
                <div class="book">
                    <p style="text-align: center;"><img
                            src="/cibil-logo-lt.svg" alt="CIBIL Logo"
                            height="45px">
                        <br><br><b style="font-size: 30px;">
                            <%= customerdata.creditscore %>
                        </b>
                        <br>
                        <% if(customerdata.creditscore <=630) { %><b style="color: red;">Poor</b>
                            <% } else if (customerdata.creditscore <=705) { %><b style="color: orange;">Average</b>
                                <% } else if (customerdata.creditscore <=779) { %><b style="color: rgb(79, 227, 79);">Good</b>
                                    <% } else { %><b style="color: green;">Excellent</b>
                                        <% }; %>
                    </p>
                    <div class="cover">
                        <p><img src="https://www.cibil.com/content/dam/cibil/logos/cibil-logo-lt.svg" alt="CIBIL Logo"
                                height="45px"><br>Credit Score</p>
                    </div>
                </div>
            </section>

        </div>
        </div>
        <p><b style="color: yellow;">Warning:</b> Misusing someone’s personal banking information is illegal. It can
            result in severe penalties, including hefty fines and imprisonment. Every action is traceable, and law
            enforcement takes fraud seriously. Think twice before committing a crime that can destroy lives, including
            your own.</p>
    </main>
    <script>
        //SideNav
        const toggleButton = document.getElementById('toggle-btn')
        const sidebar = document.getElementById('sidebar')

        function toggleSidebar() {
            sidebar.classList.toggle('close')
            toggleButton.classList.toggle('rotate')

            closeAllSubMenus()
        }

        function toggleSubMenu(button) {

            if (!button.nextElementSibling.classList.contains('show')) {
                closeAllSubMenus()
            }

            button.nextElementSibling.classList.toggle('show')
            button.classList.toggle('rotate')

            if (sidebar.classList.contains('close')) {
                sidebar.classList.toggle('close')
                toggleButton.classList.toggle('rotate')
            }
        }

        function closeAllSubMenus() {
            Array.from(sidebar.getElementsByClassName('show')).forEach(ul => {
                ul.classList.remove('show')
                ul.previousElementSibling.classList.remove('rotate')
            })
        }
    </script>
</body>

</html>